/* Tekstin alignaus */
.center {
	text-align: center;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

/* Ylimmän rivin margin */
.toppi {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Luokat floateille */
.left {
	float: left;
}

.right {
	float: right;
}

/* Textarea resize pois päältä */
textarea {
	resize: none;
}

/* Linkeistä alleviivaus pois */
a {
	text-decoration: none;
}

/* Taulukoiden viimeisistä riveistä reunat pois */
table tr:last-child td {
	border: none;
}

/* H1-tittelin pilkkominen tavuviivoilla jos tarpeen */
h1 {
	hyphens: auto;
}

/* leanModalin vaatima rimpsu */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#modali {
	max-width: 400px;
	padding: 30px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0px 6px rgba(0,0,0,0.4);
}

/* virhesivun otsikko */

.virhe {
	margin-top: 25%;
}

.alaborder {
	border-bottom: 1px solid #ddd;
}

.projektirivi:last-child {
	border-bottom: none;
}