body {
	font-family: 'Raleway', sans-serif;
	padding-top: 45px;
	background-color: #ecf0f2;
}

/* Yläpalkki ja sen komponentit */
.ylapalkki {
	background: #4FC3F7 !important;
	box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.2);
	min-height: 52px;
	padding: 0px;
	margin: 0px;
}

.ylapalkki button {
	background-color: #2ebcfc;
	border: 1px solid white;
	color: white;
	margin: 7px;
	outline: none;
	-o-transition: backgr	ound-color 0.2s linear;
	-moz-transition: background-color 0.2s linear;
	-khtml-transition: background-color 0.2s linear;
	-webkit-transition: background-color 0.2s linear;
	-ms-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}
.lisaamerkintabtn {
	width: 170px;
}
.ylapalkki button:focus {
	outline: none !important;
	border: 1px solid #fff !important;
	background-color: #5ac7f8 !important;
	color: #fff;
}

.ylapalkki button:hover {
	border: 1px solid white;
	background-color: #5ac7f8;
	color: #fff;
}

.nav-logo {
	margin-left: 15px;
	padding: 0px;
	max-height: 45px;
}

/* Sivupalkki ja sen komponentit */
.sivupalkki {
	background-color: #222c31;
	height: 100%;
	max-height: auto;
	position: fixed;
	display: block;
	width: 250px;
	z-index: 100;
	padding:0px;
}

.sivupalkki ul {
	padding-top: 10px;
}


.sivupalkki ul li a {
	padding-left: 10px;
	font-weight: bold;
	color: #adbcc4 !important;
	line-height: 2;
	font-size: 16px;
	cursor: pointer;
	display: block;
	-o-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-khtml-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.sivupalkki ul li a:hover {
	text-decoration: none;
	color: #d9eef9 !important;
	background: #151b1e;
}
.sivupalkki .active {
	background:#151b1e;
}
.sivupalkki .active a {
	color: #adbcc4 !important;
}

.sivupalkki .fa-chevron-down {
	float: right;
	margin-top: 9px;
	margin-right: 15px;
}

/* Sivupalkki - Käyttäjän nimi ja profiilikuva */
.kayttaja {
	margin-top: 30px;
	margin-left: 10px;
}
.kayttaja p {
	display:table;
}
.kayttaja img {
	width: 36px;
	height: 36px;
	margin-right: 7px;
	border-radius: 50%;
}

.kayttaja span {
	font-size: 20px;
	margin-top: 50px;
	display:table-cell;
	vertical-align: middle;
}

.kayttaja p {
	color: white;
	font-size: 20px;
}

/* Sivupalkki - Projektilistan nappi ja sisältö */
.projekti-btn-collapse {
	color: #4c626d;
	font-size: 18px;
	margin-left: -12px;
}

.projekti-btn-collapse:focus {
	outline: 0;
}

.projektisisalto {
	margin-top: 5px;
	margin-left: 5px;
}

.projektisisalto ul {
	list-style-type: none;
	margin-left: -20px;
	margin-top: -15px;
}
.projektisisalto .active {
	background:none;
	font-weight: bold !important;
	color: red;
}
.projektisisalto .active:before {
	font-family: "FontAwesome";
	content:"\f105";
	float:left;
	color: #d9eef9;
	line-height: 1.8em;
}

.projektisisalto ul li a {
	list-style-type: none;
	font-size: 16px;
	font-weight: normal;
}
.projektisisalto ul li a:hover {
	background: none;
}
.projektisisalto span {
	font-weight: bold;
	
}
/* Content etusivulla  */
.etusivu-sisalto {
	
	float: none;
	margin: 40px auto;
	
}
.etusivu-main {
	background-color: #fff;
}
.etusivu-otsikko {
	border-bottom: 1px solid #dcdcdd;
}
.etusivu-kuva {
	padding: 20px 20px 0 20px;
}
.etusivu-profiili {
	padding: 40px 0;
}
.etusivu-profiili h4 {
	font-weight: bold;
}
.etusivu-kokonaistunnit {
	padding: 40px 30px 0 30px;
}
.etusivu-jakaja {
    width: 0;
    height: 50px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.etusivu-projektilista {
	margin-top: 20px;
}

/* ETUSIVU PROJEKTIT */


/* MERKINT�FEEDI */
.etusivu-uutiset {
  padding: 15px;
}
.etusivu-uutiset .etusivu-merkinta {
  position: relative;
  padding-bottom: 20px;
  padding-left: 30px;
  border-left: 2px solid #e4e8eb;
}
.etusivu-uutiset .etusivu-merkinta:last-child {
  border-color: transparent;
}
.etusivu-uutiset .etusivu-merkinta:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -6px;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #4FC3F7;
}
.etusivu-uutiset .etusivu-merkinta .pvm {
  position: relative;
  top: -5px;
  color: #8c96a3;
  font-size: 13px;
}
.etusivu-uutiset .etusivu-merkinta .teksti {
  position: relative;
  top: -3px;
}
/* Tää wrappaa sidebarin ja main contentin */
.turbowrapperi {
	margin: 0px;
	padding: 0px;
}

/* Main content */
.main-contentti {
	margin-right: 15px;
	margin-bottom: 15px;
}

/* Main-content wrapperille left marginia kun sivupalkki esillä */
@media ( min-width :992px) {
	.main-contentti {
		margin-left: 250px;
	}
}
@media (max-width: 992px){
	.main-contentti {
	margin-left: 10px;
	margin-right: 10px;
	}
	.profiili {
	padding: 0px;}
}


/* Projektin pääsivulla wrapper projektin nimelle, kuvaukselle ja yhteistunneille */
.projekti-yhteenveto {
	margin: 30px 0px 30px 0px;
	
}

/* Projektin jäsenten ja merkintöjen tyylit */
.profiili {
	margin-bottom: 20px;
	font-size: 13px;
}

.profiili .list-group, .taulukko .list-group {
	box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.1);
}

.profiili li, .taulukko li {
	background: #222c31 !important;
	border: #222c31 !important;
	font-size: 11pt;
}

.profiilikuva {
	width: 36px;
	height: 36px;
	border-radius: 50px;
}
.profiilikuva-iso {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.lisaysbtn {
	margin-top: 10px;
	width: 100%;
	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}

/* Projektin tuntien listaus */
.taulukko {
	background: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.1);
	padding: 0px;
}

.taulukko .tuntilista {
	width: 100%;
	max-width: auto;
}

.tuntilista-wrapper {
	padding: 10px 10px 0px 10px;
}

.muokkaabtn {
	background: #2ebcfc !important;
	border: #2ebcfc !important;
	margin-left: 13px;
}

.paginaatio {
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

.paginaatio ul li a {
	
}

.paginaatio ul li a:hover {
	text-decoration: none;
}

.nappi {
	padding-top: 20px;
	text-align: center;
}

.nappi button {
	height: 80px;
	width: 100%;
	max-width: auto;
	font-size: 20px;
	background: #2ebcfc !important;
	border: #2ebcfc !important;
}

.kirjaudu {
	position: fixed;
	bottom: 0;
	display: block;
	margin-bottom: 30px;
}

.kirjaudu li {
	list-style-type: none;
}

.kirjaudu li a {
	color: #4c626d;
	font-size: 18px;
}

.slackbox {
	margin-top: 10px;
}

/*loginsivu.html css */
.logini {
	margin: 0 auto;
	float: none;
}

.logini img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
.kielivalinnat {
	position: absolute;
	top: 0px;
	right: 0px;
}

.sposti {
	margin-top: 20px;
}

.salasana {
	margin-top: 10px;
}

.muistaminut {
	margin-top: 10px;
}

.loginbtn {
	width: 100%;
	background: #2ebcfc !important;
	border-color: #2ebcfc !important;
	outline: none !important;
	-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
}
.loginbtn:hover {
	background: #5ac7f8 !important;
	border-color: #5ac7f8 !important;
}
.page-link {
	color: #2ebcfc;
}
.page-link:hover {
	color: #2ebcfc;
}
.page-item.active .page-link {
	background-color: #2ebcfc;
	border-color: #2ebcfc;
}
.page-item.active .page-link:hover {
	background-color: #0389c2;
	border-color: #0389c2;
}
.projektiCollapse {
	float:right;
}

/* TESTIII */

.navbar-nav hr{
	margin-top: 2px;
	margin-bottom: 2px;
}
.kielivalinta {
	margin: 15px 5px 15px 5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.kielivalinta:hover {
	border-radius: 0%;
}
.mobiiliprojektitnav {
	padding-left: 30px;
}
.lisaaprojekti {
	margin-top: 40px;
	margin-left: 15px;
	background-color: #fff;
	padding: 25px;
}
.pyorita {
	-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-webkit-transition: all 0.4s linear;
}
.pyorita.alas {
	 -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.loginikoni{
	position:absolute;
	bottom:12px;
	left: 23px;
	color: rgba(0,0,0,.15);
	-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.logininput {
	padding-left: 30px;
	-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.logininput:focus {
	border: 1px solid #2ebcfc;
	
}
.logininput:focus + .loginikoni{
	color: #2ebcfc;
}
.logininput:focus::-webkit-input-placeholder {color: transparent;}
.logininput:focus:-moz-placeholder {color: transparent;}
.logininput:focus::-moz-placeholder {color: transparent;}
.logininput:focus:-ms-input-placeholder {color: transparent;}

.alerttitesti {
	position: absolute;
    top: 40px;
    right: 15px;
    z-index: 9001;
}
.piilotus {
	display: none;
	visibility: none;
}
.modaalisisalto {
	border-radius: 0px;
	border: none;
}
.modaaliotsikko {
	background: #4FC3F7;
	color: #fff;
}

.modaaliotsikko > .close {
	opacity: 1 !important;
	margin-top: 4px;
	margin-right: 3px;
	outline:none;
	text-shadow: none;
	-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.modaaliotsikko > .close:hover {
	color: #222c31;
}

.modaalijalka {
	border-top: none;
}
.merkintaformi {
	border-radius: 0px;
}
/* Napeista ja linkeistä ärsyttävät borderit pois Firefoxilla */
a, a:active, a:focus, button, button:active, button:focus  {
	outline: 0;
}

/* Projekti-sivulla tiimin jäsenissä yhteistuntien tagi */
.tagi-yhteistunnit {
	font-size: 1em;
	vertical-align: middle;
	margin: auto;
}

/* Yleinen kiva varjo jonka voi antaa bokseille */
.boksivarjo {
	box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.1);
}

/* Voidaan antaa textareoille jos ei haluta että on resizable */
.noresize {
	resize: none;
}

/* Vasemmanpuoleisille modalin napeille right margin */
.nappi-oikea {
	margin-left: 10px;
}

/* Valkonen tausta containerille */
.valkotausta {
	background-color: #fff;
}
