<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${'Meduusa | ' + projekti.nimi}"></title>
    <th:block th:include="common :: header"></th:block>
  </head>
  <body>

    <!-- ylapalkki navbar, tulee hamburger menu mobiilissa -->
    <div th:include="common :: navpalkki"></div>
    
    <!-- Sivupalkki navigaatio, katoaa mobiilissa -->
    <div th:include="common :: sivupalkki"></div>

      <!-- Main contentti alkaa -->
<div class="col-sm-12 col-lg-12">
      
    <div class="container-fluid">
      <div class="row">      
      
      	<!-- Wrapperi joka antaa sidebarin verran marginia -->
      	<div class="main-contentti">
      	<div class="row">
      	
      	<!-- Mobiilin lisää merkintä -nappi -->
        <div class="col-sm-12 hidden-lg-up">
          <div class="row">
            <div class="nappi">
              <button type="button" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span th:text="#{proj.projekti.lisaamerkinta}"></span></button>
            </div>
          </div>
        </div>
       
        <div th:include="common :: projektinyhteenveto"></div>
        
     <!-- Tiimin jäsenet -->
     	<div th:fragment="tiimintunnit">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 profiili">
            <div class="list-group">
              <li class="list-group-item active"><span th:text="#{proj.projekti.jasenet}"></span></li>
              <span th:each="merkinta : ${yhteistunnit}">
	              <a th:href="${merkinta.tunnit > 0} ? @{'/projekti/' + ${projekti.id} + '/jasen/' + ${merkinta.kayttaja.id}} : '#!'" class="list-group-item list-group-item-action" th:classappend="${merkinta.tunnit == 0} ? 'disabled'">
	              	<img src="/img/placeholder.jpg" th:src="@{/img/placeholder.jpg}" class="profiilikuva" alt="Profiilikuva" />
	              	<span class="tag tag-pill pull-xs-right tagi-yhteistunnit" th:text="${merkinta.tunnit + 'h'}" th:classappend="${merkinta.tunnit > 0} ? 'tag-success' : 'tag-default'"></span>
	              	<span th:text="${merkinta.kayttaja.etunimi + ' ' + merkinta.kayttaja.sukunimi}"></span>
	              </a>
              </span>
            </div>
            <button type="button" class="btn btn-secondary btn-lg lisaysbtn" data-toggle="modal" data-target="#lisaaJasenModal"><span th:text="#{proj.projekti.lisaajasen}"></span></button>
            <a th:href="@{'/projekti/' + ${projekti.id}}" class="btn btn-secondary btn-lg lisaysbtn"><span th:text="#{proj.projekti.naytakaikki}"></span></a>
          </div>
          </div>
          
          <!-- Tuntilista alkaa -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" th:if="${#lists.size(projekti.merkintaLista.merkinnat) == 0}">
          	<h2 class="text-muted" th:text="#{proj.projekti.eimerkintojakayttajalla}"></h2>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 taulukko" th:if="${#lists.size(projekti.merkintaLista.merkinnat) > 0}">
          <div class="list-group">
          <li class="list-group-item active"><span th:text="#{proj.projekti.kaytmerkinnat}"></span> <strong th:text="${projekti.merkintaLista.merkinnat[0].kayttaja.etunimi + ' ' + projekti.merkintaLista.merkinnat[0].kayttaja.sukunimi}"></strong></li>
          </div>
            <div class="table-responsive tuntilista-wrapper">
            <table class="table table-striped tuntilista">
          <thead>
            <tr>
              <th class="col-md-2 text-xs-center"><span th:text="#{proj.projekti.tunnit}"></span></th>
              <th class="col-md-2"><span th:text="#{proj.projekti.henk}"></span></th>
              <th class="col-md-1"><span th:text="#{proj.projekti.paiva}"></span></th>
              <th class="col-md-6"><span th:text="#{proj.projekti.kuvaus}"></span></th>
              <th class="col-md-1">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
         																																							 <!-- /projekti/{projektiId}/jasen/{kayttajaId}/poista/{merkintaId} -->
            <tr th:each="merkinta : ${projekti.merkintaLista.merkinnat}">
              <td class="col-md-2 text-xs-center">   
              	<span th:if="${merkinta.tunnit >= 1}" th:text="${#numbers.formatDecimal(T(Math).floor(merkinta.tunnit), 0, 0) + 'h'}"></span>
              	<span th:if="${merkinta.tunnit - T(Math).floor(merkinta.tunnit) > 0}" th:text="${#numbers.formatDecimal((merkinta.tunnit - T(Math).floor(merkinta.tunnit)) * 60, 0, 0) + 'min'}"></span>
              </td>
              <td class="col-md-2" th:text="${merkinta.kayttaja.etunimi + ' ' + merkinta.kayttaja.sukunimi}"></td>
              <td class="col-md-1"><small class="text-muted" th:text="${#dates.format(merkinta.paivamaara, 'dd.MM.yyy')}"></small></td>
              <td class="col-md-6"><small class="text-muted" th:text="${merkinta.kuvaus}"></small></td>
              <td class="col-md-1"><button th:if="${merkinta.kayttaja.id == kayttaja.id}" type="button" class="btn btn-primary btn-sm muokkaabtn" data-toggle="modal" data-target="#myModal" th:onclick="'poisto(\'' + ${merkinta.kayttaja.id} + '/poista/' + ${merkinta.id} + '\')'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
            </tr>
          </tbody>
        </table>
        </div>
        
        <!-- Merkintöjen paginaatio -->
        <nav aria-label="..." class="paginaatio" th:if="${projekti.merkintaLista.sivujaYhteensa > 1}">
          <ul class="pagination pagination-sm">
            <li th:class="${projekti.merkintaLista.nykyinenSivu eq 1 ? 'page-item disabled' : 'page-item'}">
              <a class="page-link" aria-label="Edellinen" th:href="@{/projekti/{id}/jasen/{kayttajaid}(p=1, id=${projekti.id}, kayttajaid=${projekti.merkintaLista.merkinnat[0].kayttaja.id})}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Edellinen</span>
              </a>
            </li>
            <li th:each="sivu : ${#numbers.sequence(projekti.merkintaLista.ensimmainenSivunumero, projekti.merkintaLista.viimeinenSivunumero)}" th:class="${projekti.merkintaLista.nykyinenSivu eq sivu ? 'page-item active' : 'page-item'}">
	            <a class="page-link" th:href="@{/projekti/{id}/jasen/{kayttajaid}(p=${sivu}, id=${projekti.id}, kayttajaid=${projekti.merkintaLista.merkinnat[0].kayttaja.id})}">
	            <span th:text="${sivu}"></span>
	            </a>
            </li>
            <li th:class="${projekti.merkintaLista.nykyinenSivu eq projekti.merkintaLista.sivujaYhteensa ? 'page-item disabled' : 'page-item'}">
              <a class="page-link" aria-label="Seuraava" th:href="@{/projekti/{id}/jasen/{kayttajaid}(p=${projekti.merkintaLista.sivujaYhteensa}, id=${projekti.id}, kayttajaid=${projekti.merkintaLista.merkinnat[0].kayttaja.id})}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Seuraava</span>
              </a>
            </li>
          </ul>
        </nav>
        
        </div>
      </div>
	</div>
   
    <!-- muokkaabtn -->
    <div th:include="common :: muokkaabtn"></div>

    <!-- lisaabtn -->
    <div th:include="common :: lisaabtn"></div>

    <!-- Lisää jäsen modali -->
    <div th:include="common :: lisaajasen"></div>

	</div>
	</div>
	</div>

    <th:block th:include="common :: skriptit"></th:block>
	<script type="text/javascript">
	  var poisto = function(url) {
		  $("#poistonappi").attr("href", url);
	  }
	</script>
  </body>
</html>
