<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{proj.projekti.projektinlisays}"></title>
    <th:block th:include="common :: header"></th:block>
    <th:block th:include="common :: skriptit"></th:block>
  </head>
  <body>
      <!-- ylapalkki navbar, tulee hamburger menu mobiilissa -->

 <div th:include="common :: navpalkki"></div>
    
    <!-- Sivupalkki navigaatio, katoaa mobiilissa -->
 <div th:include="common :: sivupalkki"></div>

  <!-- MAIN CONTENT -->
  
  <div class="main-contentti">
  
  <div class="col-xs-12 col-md-6 lisaaprojekti boksivarjo">
  <h1 th:text="#{proj.common.luoprojekti}"></h1><br />
<form method="post" th:action="@{'/lisaa-projekti'}" th:object="${projektiImpl}">
  <div class="form-group" th:classappend="${#fields.hasErrors('nimi')} ? 'has-danger'">
    <label for="nimi" th:text="#{proj.common.projektinimi}"></label>
    <input type="text" class="form-control" id="nimi" name="nimi" th:field="*{nimi}" th:classappend="${#fields.hasErrors('nimi')} ? 'form-control-danger'"/>
    <div class="form-control-feedback" th:errors="*{nimi}" th:text="#{error.projekti.nimi}">Nimi errori</div>
  </div>
  
  <div class="form-group" th:classappend="${#fields.hasErrors('kuvaus')} ? 'has-danger'">
    <label for="projektinkuvaus" th:text="#{proj.common.projektinkuvaus}">Projektin kuvaus</label>
    <textarea class="form-control noresize" id="projektinkuvaus" name="kuvaus" th:field="*{kuvaus}" th:classappend="${#fields.hasErrors('kuvaus')} ? 'form-control-danger'"></textarea>
    <div class="form-control-feedback" th:errors="*{kuvaus}" th:text="#{error.projekti.kuvaus}">Kuvaus errori</div>
  </div>
  <button type="submit" class="btn btn-info pull-xs-right">
	  <i class="fa fa-check" aria-hidden="true"></i>
	  <span th:text="#{proj.common.luontinappi}"></span>
  </button>
</form>
</div>

    <!-- lisaabtn -->
    <div th:include="common :: lisaabtn"></div>
    
  </div>
    
  </body>
</html>
