<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head th:include="common :: head"></head>
  <head>
    <title th:text="#{proj.projekti.projektinlisays}"></title>
  </head>
  <body>
      <!-- ylapalkki navbar, tulee hamburger menu mobiilissa -->

 <div th:include="common :: navpalkki"></div>
    
    <!-- Sivupalkki navigaatio, katoaa mobiilissa -->
 <div th:include="common :: sivupalkki"></div>

  <!-- MAIN CONTENT -->
  
  <div class="main-contentti">
  
  <div class="col-xs-12 col-md-6 lisaaprojekti boksivarjo">
  <h1 th:text="#{proj.common.luoprojekti}"></h1><br />
<form method="post" th:action="@{'/lisaa-projekti'}">
  <div class="form-group">
    <label for="nimi" th:text="#{proj.common.projektinimi}"></label>
    <input type="text" class="form-control" id="nimi" name="nimi"/>
  </div>
  <div class="form-group">
    <label for="kuvaus" th:text="#{proj.common.projektinkuvaus}">Projektin kuvaus</label>
    <textarea class="form-control noresize" id="kuvaus" name="kuvaus"></textarea>
  </div>
  <button type="submit" class="btn btn-info pull-xs-right">
	  <i class="fa fa-check" aria-hidden="true"></i>
	  <span th:text="#{proj.common.luontinappi}"></span>
  </button>
</form>
</div>
  </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
  </body>
</html>
