<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head th:include="common :: head"></head>
  <head>
    <title th:text="${'Meduusa | ' + projekti.nimi}"></title>
  </head>
  <body>

    <!-- ylapalkki navbar, tulee hamburger menu mobiilissa -->
    <div th:include="common :: navpalkki"></div>
    
    <!-- Sivupalkki navigaatio, katoaa mobiilissa -->
    <div th:include="common :: sivupalkki"></div>

      <!-- Main contentti alkaa -->
<div class="col-sm-12 col-lg-12">
      
    <div class="container-fluid">
      <div class="row">      
      
      	<!-- Wrapperi joka antaa sidebarin verran marginia -->
      	<div class="main-contentti">
      	<div class="row">
      	
      	<!-- Mobiilin lisää merkintä -nappi -->
        <div class="col-sm-12 hidden-lg-up">
          <div class="row">
            <div class="nappi">
              <button type="button" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span th:text="#{proj.projekti.lisaamerkinta}"></span></button>
            </div>
          </div>
        </div>

        <div th:include="common :: projektinyhteenveto"></div>
        
        <!-- Tiimin jäsenet -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 profiili">
            <div class="list-group">
              <li class="list-group-item active"><span th:text="#{proj.projekti.jasenet}"></span></li>
              <span th:each="merkinta : ${yhteistunnit}">
	              <a th:href="@{'/projekti/' + ${projekti.id} + '/jasen/' + ${merkinta.kayttaja.id}}" class="list-group-item list-group-item-action">
	              	<img src="/img/placeholder.jpg" th:src="@{/img/placeholder.jpg}" class="profiilikuva" alt="Profiilikuva" />
	              	<span class="tag tag-default tag-pill pull-xs-right" th:text="${merkinta.tunnit + 'h'}"></span>
	              	<span th:text="${merkinta.kayttaja.etunimi + ' ' + merkinta.kayttaja.sukunimi}"></span>
	              </a>
              </span>
            </div>
            <button type="button" class="btn btn-secondary btn-lg lisaysbtn" data-toggle="modal" data-target="#lisaaJasenModal"><span th:text="#{proj.projekti.lisaajasen}"></span></button>
          </div>
          
          <!-- Tuntilista alkaa -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 taulukko">
          <div class="list-group">
          <li class="list-group-item active"><span th:text="#{proj.projekti.tiimimerk}"></span></li>
          </div>
            <div class="table-responsive tuntilista-wrapper">
            <table class="table table-striped tuntilista">
          <thead>
            <tr>
              <th class="col-md-1"><span th:text="#{proj.projekti.tunnit}"></span></th>
              <th class="col-md-2"><span th:text="#{proj.projekti.henk}"></span></th>
              <th class="col-md-1"><span th:text="#{proj.projekti.paiva}"></span></th>
              <th class="col-md-8"><span th:text="#{proj.projekti.kuvaus}"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="merkinta : ${projekti.merkintaLista.merkinnat}">
              <td class="col-md-1" scope="row"><strong th:text="${merkinta.tunnit + 'h'}"></strong></td>
              <td class="col-md-2" th:text="${merkinta.kayttaja.etunimi + ' ' + merkinta.kayttaja.sukunimi}"></td>
              <td class="col-md-1"><small class="text-muted" th:text="${#dates.format(merkinta.paivamaara, 'dd.MM.yyy')}"></small></td>
              <td class="col-md-8"><small class="text-muted" th:text="${merkinta.kuvaus}"></small></td>
            </tr>
          </tbody>
        </table>
        </div>
        
        <!-- Merkintöjen paginaatio -->
        <nav aria-label="..." class="paginaatio">
          <ul class="pagination pagination-sm">
            <li th:class="${projekti.merkintaLista.nykyinenSivu eq 1 ? 'page-item disabled' : 'page-item'}">
              <a class="page-link" aria-label="Edellinen" th:href="@{/projekti/{id}(p=1, id=${projekti.id})}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Edellinen</span>
              </a>
            </li>
            <li th:each="sivu : ${#numbers.sequence(projekti.merkintaLista.ensimmainenSivunumero, projekti.merkintaLista.viimeinenSivunumero)}" th:class="${projekti.merkintaLista.nykyinenSivu eq sivu ? 'page-item active' : 'page-item'}">
	            <a class="page-link" th:href="@{/projekti/{id}(p=${sivu}, id=${projekti.id})}">
	            <span th:text="${sivu}"></span>
	            </a>
            </li>
            <li th:class="${projekti.merkintaLista.nykyinenSivu eq projekti.merkintaLista.sivujaYhteensa ? 'page-item disabled' : 'page-item'}">
              <a class="page-link" aria-label="Seuraava" th:href="@{/projekti/{id}(p=${projekti.merkintaLista.sivujaYhteensa}, id=${projekti.id})}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Seuraava</span>
              </a>
            </li>
          </ul>
        </nav>
        
        </div>
      </div>
	</div>

    <!-- muokkaabtn -->
    <div th:include="common :: muokkaabtn"></div>
 
    <!-- lisaabtn -->
    <div th:include="common :: lisaabtn"></div>
    
    <!-- Lisää jäsen modali -->
    <div th:include="common :: lisaajasen"></div>       
    
</div></div></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
  </body>
</html>
