<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${'Meduusa | ' + projekti.nimi}"></title>
    <th:block th:include="common :: header"></th:block>
    <th:block th:include="common :: skriptit"></th:block>
  </head>
  <body>

    <!-- ylapalkki navbar, tulee hamburger menu mobiilissa -->
    <div th:include="common :: navpalkki"></div>
    
    <!-- Sivupalkki navigaatio, katoaa mobiilissa -->
    <div th:include="common :: sivupalkki"></div>

      <!-- Main contentti alkaa -->
	<div class="col-sm-12 col-lg-12">      
    <div class="container-fluid">
    <div class="row">
      	<!-- Wrapperi joka antaa sidebarin verran marginia -->
      	<div class="main-contentti">
      	<div class="row">
      	
      	<!-- Mobiilin lisää merkintä -nappi -->
        <div class="col-sm-12 hidden-lg-up">
          <div class="row">
            <div class="nappi">
              <button type="button" class="btn btn-primary lisaamerkintabtn" data-toggle="modal" data-target="#merkintaModal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span th:text="#{proj.projekti.lisaamerkinta}"></span></button>
            </div>
          </div>
        </div>
        <!-- Väliaikainen ratkaisu merkinnän lisäyksen onnistumiselle -->
        <div class="alerttitesti piilotus">
		<div class="alert alert-success">
   		<button class="close" data-dismiss="alert"><i class="fa fa-times" aria-hidden="true"></i></button>
 		<strong>Onnistui!</strong> Uusi merkintä lisätty
 		</div>
 		</div>
 		
 		<!-- Projektiyhteenvedon näyttö -->
        <div th:include="common :: projektinyhteenveto"></div>
        
     <!-- Tiimin jäsenet -->
     	<div th:fragment="tiimintunnit">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 profiili">
            <div class="list-group">
              <li class="list-group-item active"><span th:text="#{proj.projekti.jasenet}"></span></li>
              <span th:each="merkinta : ${yhteistunnit}">
	              <a th:href="${merkinta.tunnit > 0} ? @{'/projekti/' + ${projekti.id} + '/jasen/' + ${merkinta.kayttaja.id}} : '#!'" class="list-group-item list-group-item-action" th:classappend="${merkinta.tunnit == 0} ? 'disabled'">
	              	<img src="/img/placeholder.jpg" th:src="@{/img/placeholder.jpg}" class="profiilikuva pull-xs-left" alt="Profiilikuva" />
	              	<strong th:text="${merkinta.kayttaja.etunimi + ' ' + merkinta.kayttaja.sukunimi}"></strong><br />
	              	<span th:class="${merkinta.tunnit > 0 ? 'vihrea' : ''}">
   						<span th:if="${T(Math).floor(merkinta.tunnit) > 0}"><span th:text="${#numbers.formatDecimal(T(Math).floor(merkinta.tunnit), 0, 0)}"></span>h</span>
    					<span th:if="${merkinta.tunnit - T(Math).floor(merkinta.tunnit) > 0}"><span th:text="${#numbers.formatDecimal((merkinta.tunnit - T(Math).floor(merkinta.tunnit)) * 60, 0, 0)}"></span>min</span>
	              		<span th:if="${merkinta.tunnit > 0}" th:text="#{proj.aika.yhteensa}"></span>
	              		<span th:if="${merkinta.tunnit == 0}" th:text="#{proj.projekti.eimerkintoja}"></span>
	              	</span>
	              </a>
              </span>
            </div>
            <button type="button" class="btn btn-secondary btn-lg lisaysbtn" data-toggle="modal" data-target="#lisaaJasenModal"><span th:text="#{proj.projekti.lisaajasen}"></span></button>
          </div>
          </div>
          
          <!-- Tuntilista alkaa -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" th:if="${#lists.size(projekti.merkintaLista.merkinnat) == 0}">
          	<h2 class="text-muted" th:text="#{proj.projekti.eimerkintoja}"></h2>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 taulukko" th:if="${#lists.size(projekti.merkintaLista.merkinnat) > 0}">
          <div class="list-group">
          <li class="list-group-item active"><span th:text="#{proj.projekti.tiimimerk}"></span></li>
          </div>
            <div class="table-responsive tuntilista-wrapper">
            <table class="table table-striped tuntilista">
          <thead>
            <tr>
              <th class="col-md-2 text-xs-center"><span th:text="#{proj.projekti.tunnit}"></span></th>
              <th class="col-md-2"><span th:text="#{proj.projekti.henk}"></span></th>
              <th class="col-md-1"><span th:text="#{proj.projekti.paiva}"></span></th>
              <th class="col-md-7"><span th:text="#{proj.projekti.kuvaus}"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="merkinta : ${projekti.merkintaLista.merkinnat}">
              <td class="col-md-2 text-xs-center">   
              	<span th:if="${merkinta.tunnit >= 1}" th:text="${#numbers.formatDecimal(T(Math).floor(merkinta.tunnit), 0, 0) + 'h'}"></span>
              	<span th:if="${merkinta.tunnit - T(Math).floor(merkinta.tunnit) > 0}" th:text="${#numbers.formatDecimal((merkinta.tunnit - T(Math).floor(merkinta.tunnit)) * 60, 0, 0) + 'min'}"></span>
              </td>
              <td class="col-md-2"><small th:text="${merkinta.kayttaja.etunimi + ' ' + merkinta.kayttaja.sukunimi}"></small></td>
              <td class="col-md-1"><small class="text-muted" th:text="${#dates.format(merkinta.paivamaara, 'dd.MM.yyy')}"></small></td>
              <td class="col-md-7"><small class="text-muted" th:text="${merkinta.kuvaus}"></small></td>
            </tr>
          </tbody>
        </table>
        </div>
        
        <!-- Merkintöjen paginaatio -->
        <nav aria-label="..." class="paginaatio" th:if="${projekti.merkintaLista.sivujaYhteensa > 1}">
          <ul class="pagination pagination-sm">
            <li th:class="${projekti.merkintaLista.nykyinenSivu eq 1 ? 'page-item disabled' : 'page-item'}">
              <a class="page-link" aria-label="Edellinen" th:href="@{/projekti/{id}(p=1, id=${projekti.id})}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Edellinen</span>
              </a>
            </li>
            <li th:each="sivu : ${#numbers.sequence(projekti.merkintaLista.ensimmainenSivunumero, projekti.merkintaLista.viimeinenSivunumero)}" th:class="${projekti.merkintaLista.nykyinenSivu eq sivu ? 'page-item active' : 'page-item'}">
	            <a class="page-link" th:href="@{/projekti/{id}(p=${sivu}, id=${projekti.id})}">
	            <span th:text="${sivu}"></span>
	            </a>
            </li>
            <li th:class="${projekti.merkintaLista.nykyinenSivu eq projekti.merkintaLista.sivujaYhteensa ? 'page-item disabled' : 'page-item'}">
              <a class="page-link" aria-label="Seuraava" th:href="@{/projekti/{id}(p=${projekti.merkintaLista.sivujaYhteensa}, id=${projekti.id})}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Seuraava</span>
              </a>
            </li>
          </ul>
        </nav>
        </div>
      </div>
	</div>
	

    <!-- muokkaabtn -->
    <div th:include="common :: muokkaabtn"></div>
 
    <!-- lisaabtn -->
    <div th:include="common :: lisaabtn"></div>
    
    <!-- Lisää jäsen modali -->
    <div th:include="common :: lisaajasen"></div>       
    
</div></div></div>
    <script>
    if (document.location.pathname.indexOf("/meduusa/projekti/1/lisaa") == 0) {
    	$(".alerttitesti").removeClass("piilotus");
    	window.setTimeout(function() {
    	    $(".alerttitesti").fadeTo(500, 0).slideUp(500, function(){
    	        $(this).remove(); 
    	    });
    	    }, 8000);
    }
    </script>
    <script th:if="${viesti == 'Tuntivirhe'}">
		$('#merkintaModal').modal('show');
	</script>

  </body>
</html>
