<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common :: head"></head>
<head>
<title>Meduusa</title>
<script type="text/javascript">
var ilmoitus = function(viesti) {
	$.toast({
		text: viesti,
		heading: '<strong>Ilmoitus</strong>',
		showHideTransition: 'fade',
		allowToastClose: true,
		hideAfter: 3000,
		stack: 5,
		position: 'bottom-right',
		bgColor: '#1EAEDB',
		textColor: '#FFF',
		textAlign: 'left',
		loader: false,
		});
	}
</script>
</head>
<body>
    <!-- ylapalkki navbar, tulee hamburger menu mobiilissa -->
    <div th:include="common :: navpalkki"></div>
    
    <!-- SIVUPALKKI -->
    <div th:include="common :: sivupalkki"></div>

	<!-- Main content alkaa -->
	<div class="col-sm-12 col-lg-12">
	<div class="container-fluid">
	<div class="row">
	<div class="main-contentti">
		<div class="etusivu-main">
	<div class="row">

	<div class="col-xs-12 etusivu-sisalto">
		<div class="media etusivu-otsikko">
		<a class="media-left etusivu-kuva">
		<img src="/img/placeholder.jpg" th:src="@{/img/placeholder.jpg}" class="profiilikuva-iso" alt="Profiilikuva" />
		</a>
		<div class="media-body etusivu-profiili">
			<h4 th:text="${'' + kayttaja.etunimi + ' ' + kayttaja.sukunimi + ''}"></h4>
			<p class="text-muted" th:text="${''+kayttaja.sahkoposti+''}"></p>
		</div>
		<div class="media-right etusivu-kokonaistunnit">
		<h1>50h</h1>
		</div>
		</div>
		<div class="col-xs-4 etusivu-projektilista">
		<h4>Omat projektit</h4>
		<!--  <div id="accordion" role="tablist" aria-multiselectable="true">
		
		<div class="card" th:each="projekti : ${projektit}">
		<div class="card-header" role="tab" id="headingOne">
		<h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" th:href="@{'/projekti/' + ${projekti.id}}">
		<h4><span th:text="#{kayt.yleiskatsaus.projektit}"></span></h4>
<p th:each="projekti : ${projektit}">
        <a th:href="@{'/projekti/' + ${projekti.id}}">
        <h5 th:text="${projekti.nimi}"></h5>
        </a>
        </h5>
        
        <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
        <h6 th:text="${projekti.kuvaus}"></h6>
        </div>
        </div>
		</div>
		</div>
		</div>
		-->
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card" th:each="projekti : ${projektit}">
    <div class="card-header" role="tab" th:id="${projekti.id} + '-card'">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" th:href="'#' + ${projekti.id} + '-card'" aria-expanded="true">
          <span th:text="${projekti.nimi}"></span>
        </a>
      </h5>
    </div>

    <div th:id="${projekti.id} + '-card'" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <p th:text="${projekti.kuvaus}"></p></div>
    </div>
  </div>
  </div>
</div>
<div class="col-xs-8 etusivu-projektilista">
	<h4><span th:text="#{kayt.yleiskatsaus.tapahtumat}"></span></h4>
<div class="etusivu-uutiset">
  <div class="etusivu-merkinta">
    <div class="teksti">25.10.2016 Jonni Aaltonen (SP1 Tuntikirjaus), 3h 25min</div>
    <div class="pvm">Muunnosta Spring Bootille jotta saadaan Security käyttöön</div>
  </div>
  <div class="etusivu-merkinta">
    <div class="pvm">25.10.2016 Nico Hagelberg (Toinen demoprojekti), 5h</div>
    <div class="teksti">Tietokannan tuijottamista, projekti beanin teko ja projektin lisäämistä alotettu DAO:ssa</div>
  </div>
  <div class="etusivu-merkinta">
    <div class="pvm">25.10.2016 Nico Hagelberg (Toinen demoprojekti), 5h</div>
    <div class="teksti">Paginaatiota, tietokannat tukemaan useaa projektia, Bulman käyttöönottoa</div>
  </div>
  <div class="etusivu-merkinta">
    <div class="pvm">25.10.2016</div>
    <div class="teksti">Responded to need <a href="single-need.php">“In-Kind Opportunity”</a></div>
  </div>
  <div class="etusivu-merkinta">
    <div class="pvm">25.10.2016</div>
    <div class="teksti">Created need <a href="single-need.php">“Volunteer Opportunity”</a></div>
  </div>
  <div class="etusivu-merkinta">
    <div class="pvm">25.10.2016</div>
    <div class="teksti">Attending the event <a href="single-event.php">“Some New Event”</a></div>
  </div>
</div>

</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
</body>
</html>