<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="shortcut icon" href="/favicon.ico?" th:href="@{/favicon.ico?}" type="image/x-icon" />
    <script src="https://use.fontawesome.com/b3b209c0c2.js"></script>
<title>Meduusa | Yleiskatsaus</title>
<script type="text/javascript">
var ilmoitus = function(viesti) {
	$.toast({
		text: viesti,
		heading: '<strong>Ilmoitus</strong>',
		showHideTransition: 'fade',
		allowToastClose: true,
		hideAfter: 3000,
		stack: 5,
		position: 'bottom-right',
		bgColor: '#1EAEDB',
		textColor: '#FFF',
		textAlign: 'left',
		loader: false,
		});
	}
</script>
</head>
<body>
    <!-- ylapalkki navbar, tulee hamburger menu mobiilissa -->
    <div th:include="navigaatio :: navpalkki"></div>
    
    <!-- SIVUPALKKI -->
    <div th:include="navigaatio :: sivupalkki"></div>

	<!-- Main content alkaa -->
	<div class="col-sm-12 col-lg-12">
	<div class="container-fluid">
	<div class="row">
	<div class="main-contentti">
	<div class="row">
		<div class="col-xs-12 projekti-yhteenveto">
		<h3 th:text="${'Tervetuloa, ' + kayttaja.etunimi + ' ' + kayttaja.sukunimi + '!'}"></h3>
		</div>
	</div>






<h4>Omat projektit</h4>
<p th:each="projekti : ${projektit}">
        <a th:href="@{'/projekti/' + ${projekti.id}}">
        <h5 th:text="${projekti.nimi}"></h5>
        </a>
        <h6 th:text="${projekti.kuvaus}"></h6>
</p>

</div>
</div>
</div>
</div>

</body>
</html>