<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common :: head"></head>
<head>
<title>Meduusa</title>
<script type="text/javascript">
var ilmoitus = function(viesti) {
	$.toast({
		text: viesti,
		heading: '<strong>Ilmoitus</strong>',
		showHideTransition: 'fade',
		allowToastClose: true,
		hideAfter: 3000,
		stack: 5,
		position: 'bottom-right',
		bgColor: '#1EAEDB',
		textColor: '#FFF',
		textAlign: 'left',
		loader: false,
		});
	}
</script>
</head>
<body>
    <!-- ylapalkki navbar, tulee hamburger menu mobiilissa -->
    <div th:include="common :: navpalkki"></div>
    
    <!-- SIVUPALKKI -->
    <div th:include="common :: sivupalkki"></div>

	<!-- Main content alkaa -->
	<div class="col-sm-12 col-lg-12">
	<div class="container-fluid">
	<div class="row">
	<div class="main-contentti">
		<div class="etusivu-main">
	<div class="row">

	<div class="col-xs-12 etusivu-sisalto">
		<div class="media etusivu-otsikko">
		<a class="media-left etusivu-kuva">
		<img src="/img/placeholder.jpg" th:src="@{/img/placeholder.jpg}" class="profiilikuva-iso" alt="Profiilikuva" />
		</a>
		<div class="media-body etusivu-profiili">
			<h4 th:text="${'' + kayttaja.etunimi + ' ' + kayttaja.sukunimi + ''}"></h4>
			<p class="text-muted" th:text="${''+kayttaja.sahkoposti+''}"></p>
		</div>
		<div class="media-right etusivu-kokonaistunnit text-xs-center">
			<h1 th:text="${yhteistunnit + 'h'}"></h1>
			<p class="text-muted"><small>Viimeiset 31pv</small></p>
		</div>
		</div>
<div class="col-xs-12 col-md-4 etusivu-projektilista">
		<h4 th:text="#{kayt.yleiskatsaus.projektit}">Omat projektit</h4>

  <div class="card card-block" th:each="projekti : ${projektit}">
    <div class="card-title" th:id="${projekti.id} + '-card'">
      <h5 class="card-text">
        <a th:href="@{'/projekti/' + ${projekti.id}}">
          <span th:text="${projekti.nimi}"></span>
        </a>
        <a class="projektiCollapse" data-toggle="collapse" th:href="'#collapse' + ${projekti.id}" aria-expanded="false" aria-controls="collapseExample">
   		<div class="fa fa-angle-double-down pyorita"></div>
  		</a>
      </h5>
        
    </div>
    
   

    <div class="collapse" th:id="'collapse' + ${projekti.id}">
      <div class="card card-block">
        <a th:text="${projekti.kuvaus}"></a></div>
    </div>
  </div>

</div>
<div class="col-xs-12 col-md-8 etusivu-projektilista">
	<h4><span th:text="#{kayt.yleiskatsaus.tapahtumat}"></span></h4>
<div class="etusivu-uutiset">
  <div class="etusivu-merkinta" th:each="merkinta : ${merkinnat}">
    <div class="teksti">
    <span th:text="${#dates.format(merkinta.paivamaara, 'dd.MM.yyy')}"></span>
    <span th:text="${merkinta.kayttajaNimi}"></span>
    <span th:text="'(' + ${merkinta.projektiNimi} + ')'"></span>
    <span th:text="${merkinta.tunnit} + 'h'"></span>
    </div>
    <div class="pvm" th:text="${merkinta.kuvaus}"></div>
    
    
    
  </div>
</div>

</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
    <script>
	$(".pyorita").click(function(){
		 $(this).toggleClass("alas")  ; 
	});
	</script>
</body>
</html>